li {
    text-align: left;
    color: #a0c7c7;
    margin-top: 20px;



}

<title>Receita de Bolo</title>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #ffffff;
    }
    h1 {
        text-align:left;
        color: #bd1a1a;
        margin-top: 50px;
    }



    h2 {
        text-align:left;
        color: #bd1a1a;
        margin-top: 50px;
    }

--------------------------------------- nao sei comenta

p { 
    font-size: 24px;
    line-height: 1.5;
}
body{
    background-image: url("bolo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    display: block;
    color: #312c2c;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
  }
  
  nav a:hover {
    background-color: #333;
    color: #fff;
  }
  


